.formBtn {
    cursor: pointer;
    width: 100%;
    padding: 7px 20px;
    text-align: center;
    color: white;
    border-radius: 20px;
    background-color: #04aaff;
    cursor: pointer;
}

.formInput {
width: 100%;
padding: 10px 20px;
border-radius: 20px;
border: 1px solid black;
text-align: center;
background-color: white;
color: black;
}

.cancelBtn {
cursor: pointer;
width: 100%;
padding: 7px 20px;
text-align: center;
border-radius: 20px;
color: white;
background-color: tomato;
}

.container {
width: 100%;
max-width: 320px;
display: flex;
flex-direction: column;
}

.nweetEdit .formBtn {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .nweet {
    margin-bottom: 20px;
    background-color: white;
    width: 100%;
    max-width: 320px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
  }
  
  .nweet h4 {
    font-size: 14px;
  }
  
  .nweet img {
    right: -10px;
    top: 15px;
    position: absolute;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-top: 10px;
  }

.nweet_actions {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .nweet_actions span {
    cursor: pointer;
  }
  
  .nweet_actions span:first-child {
    margin-right: 10px;
  }